<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Corner Exit</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation.css
  ">
  <!-- foundation-float.min.css: Compressed CSS with legacy Float Grid -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation-float.min.css"
    integrity="sha256-sP0p6J7SbJGiJ2gkdY1nkVsLgdwiFN2kI370lU+zacQ= sha384-yZLxxcD8nfiSt1qfKJWwHwtkL58WZDTlkBnZN60qr3ZS35+LDsmUF2JHLxdyZ+KU sha512-Z3WbpfWFSsK2dBvoSYZnMvPmxSJUa5cxj3TYlmyj6cq8IXy7iB2nlUk+jjms8gnz4HmpQk/yhRSlRzW7keoSlg=="
    crossorigin="anonymous">

  <!-- foundation-prototype.min.css: Compressed CSS with prototyping classes -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation-prototype.min.css"
    integrity="sha256-ksLmXa0k3ACbX6azB9g6l7XlmSKFBkuH0DXKNwULXtE= sha384-RGTvu65DAT+yLQsTj5tnITDrMfrS5mbajNAYILSg4hHr9vRr/3Y9q0WAdChqLKfx sha512-KMJ7XYrv5UcwEvJFaYnLSdN5O3fT7aQvjed//LQPB3AsN4VPA/wXG9j4x4vKZkjNmU/U8aZC9Ac3FYxs9lPXcw=="
    crossorigin="anonymous">

  <!-- foundation-rtl.min.css: Compressed CSS with right-to-left reading direction -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation-rtl.min.css"
    integrity="sha256-jvk46bzgetf2fy3FF19toDOoy9CG3aFqZfd229doSyo= sha384-w6E9ynA6OV6MFswc7C8nr8QoBiRtqqOKF/5M9ZVyVDDyrUPLI75xizNuXgRZxWK5 sha512-7MZk47L+5Mj6Y0dP3NuB2aqlNdDgzTlCf8m50nvgnCHUbxZ9KabCy8VUzQAl/DqDKwR7E6JsCf1MUjkfCiVzJw=="
    crossorigin="anonymous">

  <link rel="stylesheet" href="/assets/css/webpage.css">
  <!-- <link rel="stylesheet" href="foundation-icons.css">
  <link rel="stylesheet" href="webicons.css"> -->
  <!-- <link rel="stylesheet" href="fontawesome-free-5.10.0-web/css/fontawesome.css"> -->
  <!-- <link rel="stylesheet" href="fontawesome-free-5.10.0-web/css/fontawesome.min.css"> -->
  <!-- <link rel="stylesheet" href="fontawesome-free-5.10.0-web/font-awesome/css/font-awesome.min.css"> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>

<!-- Navbar -->

<body>
  <ul class="menu menu-hover-lines">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="#">Events</a></li>
    <!-- <li><a href="#">Organizations</a></li> -->
    <!-- <li><a href="#">Forums</a></li> -->
    <!-- <li><a href="#">Products</a></li> -->
    <li class="title-bar-right"><a href="/login" id="signIn">Sign In</a></li>
  </ul>

  <!-- Navbar END -->
  <!-- Image -->
  <!-- Background image of car is in webpage.css -->
  <div class="full-width-testimonial">
    <br>
    <br>
    <div class="full-width-testimonial-section">
      <div class="full-width-testimonial-icon text-center">
      </div>
      <div class="full-width-testimonial-content">
        <h5 class="full-width-testimonial-text">
          <br>
          <br>
          <!-- <div id="cornerexit"> <img src="../../public/assets/img/CornerExitText.png" alt=""> </div> -->
          <br>
          <br>
          <br>
        </h5>
      </div>
    </div>
  </div>

  <!-- Main Body + Side Panel -->

  <div class="app-dashboard-body off-canvas-wrapper">
    <!-- <div id="app-dashboard-sidebar" class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas> -->
    <div class="app-dashboard-sidebar-title-area">
      <div class="app-dashboard-close-sidebar">
        <h3 class="app-dashboard-sidebar-block-title"></h3>
      </div>
      <br>

      <!-- Side panel -->
      <button class="openbtn" onclick="openNav()">Events |||</button>
      <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="app-dashboard-sidebar-inner">
          <ul class="menu vertical">
            <li><a href="#" class="is-active">
                <span class="app-dashboard-sidebar-text">Autocross</span>
              </a></li>
            <li><a>
                <span class="app-dashboard-sidebar-text">Conventions</span>
              </a></li>
            <li><a>
                <span class="app-dashboard-sidebar-text">Cruises and Tours</span>
              </a></li>
            <li><a href="#" class="is-active">
                <span class="app-dashboard-sidebar-text">Driving Schools</span>
              </a></li>
            <li><a>
                </i><span class="app-dashboard-sidebar-text">Gimmick Rally</span>
              </a></li>
            <li><a>
                <span class="app-dashboard-sidebar-text">Hillclimb/Time Trial</span>
              </a></li>
            <li><a href="#" class="is-active">
                <span class="app-dashboard-sidebar-text">Open Track/HPDE</span>
              </a></li>
            <li><a>
                <span class="app-dashboard-sidebar-text">RallyCross</span>
              </a></li>
            <li><a>
                <span class="app-dashboard-sidebar-text">Road Racing</span>
              </a></li>
            <li><a>
                <span class="app-dashboard-sidebar-text">Shows/Concours</span>
              </a></li>
            <li><a>
                <span class="app-dashboard-sidebar-text">TSD Rally</span>
              </a></li>
            <li><a>
                <span class="app-dashboard-sidebar-text">Test and Tunes</span>
              </a></li>
            <li><a>
                <span class="app-dashboard-sidebar-text">Trade Shows</span>
              </a></li>
          </ul>
        </div>
      </div>
      <!-- Side Panel END -->

    </div>
    <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
      <h2 class="text-center">AUTOMOTIVE EVENT MANAGEMENT</h2>
      <p>We are a group of Motorsport enthusiasts that can be hired to provide management and equipment for events such
        as Arrive and Drives, AutoXes, RallyX, Demo courses, etc. Clients have included Speed Ventures, 86Fest,
        Subiefest, Triumph Club, SCCA Rallycross, various BMW Club Chapters, and more! We can accomidate events of
        almost any size, as we have several sets of timing equipment, and WAY too many cones!</p>

      <p>Email me at Michael@Corner-Exit.com for any questions/inquiries.</p>

      <p>Duis consectetur magna velit, nec porttitor velit fermentum pulvinar. Duis varius justo eu varius pellentesque.
        Curabitur aliquet velit mauris, quis aliquam leo pharetra in. Integer rhoncus ut dui in rhoncus. Maecenas nec
        libero neque. Duis ac lacus at justo ullamcorper efficitur. Praesent ornare urna ante. Aliquam dapibus posuere
        nisl sit amet vestibulum. Quisque dapibus iaculis justo non egestas. Curabitur interdum semper justo, eget
        condimentum orci bibendum nec.</p>

      <p>Vivamus pharetra massa non risus sollicitudin iaculis. Donec semper finibus hendrerit. Nam ut volutpat mauris,
        sit amet molestie nisi. Curabitur ac nisi urna. Nulla id turpis nec dui ornare tempor in ac justo. Cras quis
        cursus nisi. Donec vel pellentesque ante. Maecenas non nisi risus. Praesent posuere scelerisque varius. Cras
        vitae mollis quam. Etiam ut dui massa. Etiam mattis aliquam enim, eget facilisis erat elementum eu. Proin et
        lorem volutpat, pretium massa a, venenatis mi. Suspendisse quam orci, feugiat eget suscipit ac, vehicula a ante.
        Nam ut mauris at tortor cursus interdum.</p>

      <p>Nullam hendrerit tincidunt risus. Sed nec nibh vel nibh euismod lobortis sed a sem. Nulla nec libero dolor.
        Pellentesque non sodales orci. Phasellus odio ligula, varius non orci ac, fermentum pulvinar nibh. Aliquam erat
        volutpat. Curabitur vehicula varius porttitor. Integer purus sapien, placerat sodales eros et, interdum
        vestibulum sem. Duis faucibus felis vitae augue ultricies, aliquet tempor orci vestibulum. Duis eu justo mi.
        Praesent feugiat, ante interdum fringilla auctor, ex nibh aliquet neque, sed feugiat tellus tortor non dui.
        Suspendisse potenti. Aliquam fringilla sapien felis, at faucibus justo interdum congue.</p>


    </div>
  </div>


  <!-- Main Body End -->

  <!-- +++++++++++++++++++++++++++++++++++++++ -->
  <!-- Footer -->

  <footer class="marketing-site-footer">
    <div class="row medium-unstack">
      <div class="medium-4 columns">
        <h4 class="marketing-site-footer-name">Corner Exit</h4>
        <p>We can accomidate events of
            almost any size.</p>

        <!-- <ul class="menu marketing-site-footer-menu-social simple"> -->
        <div class="clearfix"></div>
        <div>
          <h3 class="follow">Follow us!</h3>
          <button type="button" class="button social facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
          </button>
          <button type="button" class="button social instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
          </button>
          <!-- <button type="button" class="button social instagram">
              <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
            </button>
            <button type="button" class="button social instagram">
              <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
            </button> -->
        </div>

        <!-- </ul> -->

      </div>
      <div class="medium-4 columns">
        <h5 class="marketing-site-footer-title">Contact Info</h5>
        <div class="marketing-site-footer-block">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <p>(949)632-4550</p>
        </div>
        <div class="marketing-site-footer-block">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <p>michael@corner-exit.com</p>
        </div>
      </div>

      <!-- Instagram -->
      <!-- <div class="medium-4 columns">
        <h4 class="marketing-site-footer-title">Instagram</h4>
        <div class="row small-up-3">
          <div class="column column-block">
            <img src="https://placehold.it/75" alt="" />
          </div>
          <div class="column column-block">
            <img src="https://placehold.it/75" alt="" />
          </div>
          <div class="column column-block">
            <img src="https://placehold.it/75" alt="" />
          </div>
          <div class="column column-block">
            <img src="https://placehold.it/75" alt="" />
          </div>
          <div class="column column-block">
            <img src="https://placehold.it/75" alt="" />
          </div>
          <div class="column column-block">
            <img src="https://placehold.it/75" alt="" />
          </div>
        </div> -->

    </div>
    </div>
    <!-- <div class="marketing-site-footer-bottom">
      <div class="row large-unstack align-middle">
        <div class="column">
          <p>&copy; 2019 No Rights Reserved</p>
        </div>
        <div class="column">
          <ul class="menu marketing-site-footer-bottom-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Organizations</a></li>
            <li><a href="#">Forums</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div> -->
    </div>
    <div class="norights">
      <p>&copy; 2019 No Rights Reserved</p>
    </div>
    <br>
  </footer>

  <!-- Footer END -->

  <script>
    function openNav() {
      document.getElementById("mySidepanel").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidepanel").style.width = "0";
    }
  </script>

  <!-- <script src="js/vendor/jquery.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"
    integrity="sha256-/PFxCnsMh+nTuM0k3VJCRch1gwnCfKjaP8rJNq5SoBg= sha384-9ksAFjQjZnpqt6VtpjMjlp2S0qrGbcwF/rvrLUg2vciMhwc1UJJeAAOLuJ96w+Nj sha512-UMSn6RHqqJeJcIfV1eS2tPKCjzaHkU/KqgAnQ7Nzn0mLicFxaVhm9vq7zG5+0LALt15j1ljlg8Fp9PT1VGNmDw=="
    crossorigin="anonymous"></script>
  <!-- <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.min.js"></script> -->
  <script>
    $(document).foundation();
  </script>

</body>

</html>