<h1>Sign up </h1>

<h2>User Sign up with Google</h2>
<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container">
    
</div>

<div class="container">
    
    <form class="create-form">

        <div class="form-group">
            <label for="fn">First Name</label>
            <input type="text" id="fn" name="first-name">
        </div>

        <div class="form-group">
            <label for="ln">Last Name</label><br>
            <input type="text" id="ln" name="last-name">
        </div>

        <div class="form-group">
            <label for="em">Email</label><br>
            <input type="text" id="em" name="email">
        </div>

        <div class="form-group">
            <label for="ad">Address</label><br>
            <input type="text" id="ad" name="address">
        </div>

        <div class="form-group">
            <label for="pn">Phone Number</label><br>
            <input type="text" id="pn" name="phone-number">
        </div>

        <div class="form-group">
            <label for="da">Driver's Age</label><br>
            <input type="text" id="da" name="driver-age">
        </div>

        <div class="form-group">
            <label for="cy">Car Year</label><br>
            <input type="text" id="cy" name="car-year">
        </div>

        <div class="form-group">
            <label for="cm">Car Make</label><br>
            <input type="text" id="cm" name="car-make">
        </div>

        <div class="form-group">
            <label for="cmo">Car Model</label><br>
            <input type="text" id="cmo" name="car-model">
        </div>

        <div class="form-group">
            <label for="cc">Car Color</label><br>
            <input type="text" id="cc" name="car-color">
        </div>

        <button type="submit">Sign Up</button>
    </form>
</div>