table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgb(255, 255, 255);
}

tr:hover {background-color:#ffffff;}

#eventstable {
  padding-left: 10%;
  padding-right: 10%;
}

.unstriped {
  text-align: left;
}

.off-canvas-content {
width: 100%;
}

/* attempt at minimizing event description */


.table-expand-row-content {
  display: none;
}

.table-expand-row-content.is-active {
  display: table-row;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.table-expand-row.is-active .expand-icon::after {
  content: ' -';
}

.table-expand-row .expand-icon::after {
  content: ' +';
  /* float: right; */
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
